h2 {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.word {
  perspective: 1000px;
}

.word span {
  cursor: pointer;
  line-height: 0.8;
  font-size: 100px;
  user-select: none;
  display: inline-block;
  color: white;
}

.word span:nth-child(1).active {
  animation: child1 2s ease-out;
  transform-origin: bottom left;
}

@keyframes child1 {
  0%,
  100% {
    transform: rotate(0);
  }

  50%,
  80% {
    transform: rotate(-45deg);
    color: aqua;
  }
}

.word span:nth-child(2).active {
  animation: child2 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes child2 {
  0%,
  30% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  40%,
  50% {
    transform: scale(1) translate(0, -150px);
    color: #373e02;
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(3).active {
  animation: child3 2s ease-in-out;
  transform-origin: bottom center;
}

@keyframes child3 {
  0% {
    transform: rotate(0);
  }

  40% {
    transform: rotate(90deg);
    color: #ff7171;
  }

  80% {
    transform: rotate(360deg);
  }
}

.word span:nth-child(4).active {
  animation: child4 1s ease-out;
  transform-origin: bottom center;
}

@keyframes child4 {
  20%,
  80% {
    transform: rotateY(180deg);
    color: #ffaa71;
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  animation: child5 1s ease-out;
  transform-origin: bottom center;
}

@keyframes child5 {
  10%,
  40% {
    transform: translateY(-40vh) scaleY(1);
    color: seagreen;
  }

  90% {
    transform: translateY(-40vh) scaleY(4);
  }
}

.word span:nth-child(6).active {
  animation: child6 2s ease-out;
  transform-origin: bottom center;
}

@keyframes child6 {
  10% {
    transform: rotate(90deg) scaleY(1);
  }

  50% {
    transform: rotate(360deg) scaleY(4);
    color: orange;
  }
}

.word span:nth-child(7).active {
  animation: child7 2s ease-out;
  transform-origin: bottom center;
}

@keyframes child7 {
  10% {
    transform: skew(10deg);
  }

  40% {
    transform: skew(50deg);
    color: red;
  }

  80% {
    transform: skew(-50deg);
  }
}

.word span:nth-child(8).active {
  animation: child8 2s ease-out;
  transform-origin: bottom center;
}

@keyframes child8 {
  10% {
    transform: translate(20px, 50px);
  }

  40% {
    transform: translate(10px);
    color: #00b7c2;
  }

  80% {
    transform: translate(100px);
  }
}

body {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
